@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --citrine: hsl(57, 97%, 45%);
}
/* navbar */
.mainContainer{
    background-image: url("../image/hero-bg.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
 
}
.text-center-end{
    text-align: left;}
/* free-guy-d */
.mainContainer2{
    background-image: url("../image/bg-item.png");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    padding-top: 10%;

}

.free-cap h2{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 600;

}

.free-d-img{
    text-align: left;
}
.free-cap h3{
    font-size: 1.5rem;
    margin-top: 20px;
}
.free-img{
    border-radius: 15px;
}
.free-cap a{
    color: #fff !important;  
    cursor: pointer;
    font-size: 12px;
   
}
.free-cap a:hover{
    color: var(--citrine) !important;
}

.free-guy-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(216deg 21.74% 18.04%);
    border:2px solid hsl(0deg 0% 20%);
    width: 60%;
    padding: .5rem 2.5rem;
    border-radius: 7px;
}
.free-item h5{
    color: #fff;
    font-size: 15px;
    margin-bottom: 0;
 
}
.free-item .pp{
    color: #c5c5c5;
    font-size: 12px;
    margin-top: 0;
    width: 100%;
}

.share-p{
    color: #aaa;
}

.share-p:hover{
    color: var(--citrine);
    cursor: pointer;
}
.last-icon{
    font-size: 18px;
    color: #fff;
    text-align: center;
   
}


.btnItem2{
    background: transparent;
    margin-left:1rem;
    color:#fff;
    border: 3px solid var(--citrine);
    padding: .5rem 1rem;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: background-color .5s ease ;
  
}

.btnItem2:hover{
    background-color: var(--citrine);
    color: #000;
}
.btncap2{

        margin-left: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
.free-img{
    width: 75%;
}

.free-cap{
   border:0;
}

.free-cat{
    margin: 10px 0;
    display: flex;
 
}
.free-cat a{
    margin: 0 5px;
    font-size: 15px;
}

.free-cap p{
    color: #bbb;
    width: 80%;
    font-size: 14px;
}













/* .navbar{
    bg-dark fixed-top
} */

.navbar{
    z-index: 999;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    transition: background-color , .5s ease;
}


 .itemNav ul{
    list-style: none;
    display: flex;
    padding: 0rem 20px;

 
}
.itemNav ul li{
   margin: 0 1.4rem;
}
.itemNav ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    transition: color .2s ease-in;
    font-size: 14px;
}
.itemNav ul li a:hover{
    color:var(--citrine);
}

.itemLast{
    padding: 0 1rem;
}

.itemIcon{
    padding-right: 1.2rem;
    border-right: 2px solid #777;
    color:#fff;
    cursor: pointer;
    font-size: 14px;
}

.itemIcon2{
    color: var(--citrine);

}

select{
    border:0;
    color: #fff;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
  
}
select:focus{
    border: 0;
}
option{
    border: 0;
    color: #000;
    cursor: pointer;

}
.btnItem{
    background: transparent;
    margin-left:1rem;
    color:#fff;
    border: 3px solid var(--citrine);
    padding: .5rem 2rem;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: 2rem;
}

.btnItem:hover{
    background: var(--citrine);
    color:#000;
 
}
#menu{
    display: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    background-color: hsl(204deg 17.86% 10.98%);
}
.btn-close{
    color: #fff;
}
.offcanvas{
    background-color: hsl(204deg 17.86% 10.98%);
    color: #fff;
}
.offcanvas-body{
color: #fff;   
}
.canvasList{
    list-style: none;
}
.canvasList li{
    font-size: 1rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.canvasList li:hover{
    color: var(--citrine);
}
.canIcon{
    margin: 0 5px;
    font-size: 1.2rem;
}
.canIcon:hover{
    color: var(--citrine);
}
/* caption */

.captionBody{
    position: absolute;
    top: 35%;
}
.captionBody h3{
    color: var(--citrine);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

.captionBody h1{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 700;

}
.capL{
    margin-bottom: 2.3rem;
}
.captionBody .sColor{
    color: var(--citrine);
}

.s1,.s2{
  background: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;

}
.s2{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-left: .4rem;
}

.captionBody a{
    color: #fff !important;  
    cursor: pointer;
    font-size: 14px;
   
}
.capA{
    margin-left: 20px;
    text-decoration: none;
}
.capB{
    margin-right: 20px;
    text-decoration: none;
}
.captionBody a:hover{
    color: var(--citrine) !important;
}

.capIcon{
    color: var(--citrine);
    margin-left:5px;
    margin-right:5px;
    font-size: 14px;
}
.s3, .s4{
    color: #fff;
    font-size: 14px;
}

.s3{
    margin-right: 5px;
}

.btnCap{
    margin-left: 0;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.capIcon3{
    margin-right: 10px;
}
.upcoming{
    padding: 7rem 0;
    background-image: url("../image/upcoming-bg.png");
    background-size: cover;
    background-position: center center;
    padding-bottom: 1rem;
}

.headUP span{
    color: var(--citrine);
    font-size: 12px;
  
}
.headUP h2{
    color: #fff; 
    margin-top: .7rem;
    font-weight: 600;
    font-size: 2rem;
}

.headUP .btn-warning{
    border-radius: 25px;
    margin:0 3px;
    padding: 10px 20px;
    border: 2px solid hsl(235.38deg 14.61% 17.45%);
    font-size: .9rem;
    background: hsl(234, 15%, 13%);
    color: #fff;
}
.bodyUP{
    margin: 2rem 0;
}
.inner{
    margin-top: 1rem;
}

.inner h3{
    cursor: pointer;
    color:#fff;
    font-size: 20px;

}

.inner h3:hover{color: var(--citrine);}

.text-yellow{
    color: var(--citrine);
}

.HD{
    border: 2px solid #fff;
    color: var(--citrine);
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    /* padding: 5px 2px; */
    width: 55px;

}
.iconUP{
    color: var(--citrine);
    font-size: 10px;
    margin-right: 2px;
}

.smspan{
    color: #fff;
    font-size: 12px;
}

.itemInner{
    margin: 10px 0;
}

.hove-me:hover{
    opacity: 0.7;
    cursor: pointer;
  
}
.hove-me{
    border-radius: 5px;
    transition: opacity .5s ease-in-out;
}
/* service */

.service{
   background-image: url("../image/service-bg.jpg");
   background-size: cover;
   background-position: center center;
   padding-top: 5rem;
   overflow: hidden;
   padding-bottom: 2rem;
}

.lineS{
    text-decoration: line-through;
    text-decoration-color: var(--citrine);
    color: transparent;
    margin-right: 5px;
    text-decoration-style:solid;
    font-size: 20px;

}
.service h6{
    font-size: 16px;
    color: hsl(0, 7%, 88%);

}
.service h2{
   font-size: 2.2rem;
   font-weight: 600;
   width: 70%;
   margin-bottom: 1.5rem;
}
.service .lead1{
    color: hsl(209, 14%, 70%);
    margin-bottom: 1.8rem;
    font-size: 15px;
}

.ser-bar-icon{
   font-size: 2rem;
   border: 1.5px dashed var(--citrine);
   border-radius: 50%;
   padding:1.8rem;
   margin-right: 1.5rem;
   transition: background-color .5s ease-in;
}
.ser-bar h3{
    font-size: 1.2rem;
    font-weight: 600;
}
.ser-bar p{
    color: #aaaaaa;
    font-weight: 500;
    font-size: 14px;
  
}
.ser-under{
    border-top: 1px dashed #4b4b4b;
    padding-top: 1rem;
    width: 80%;
}
.ser-under1{
    width: 80%;
}
.ser-bar{
    margin-bottom: 1rem;
    
}
.ser-bar-icon:hover{
    background-color: var(--citrine);
}

/* top rated */
.top-rated{
    background-image: url("../image/top-rated-bg.jpg");
    background-size: cover;
    background-position: center center;
    padding-top: 5rem;
}
.head-rate{
    margin-bottom: 3rem;
}
.head-rate p{
    color: var(--citrine);
    font-size: 13px;
}
.head-rate h2{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.btn-rate{
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}
 .btn-rate button{
    margin: 0 .5rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    font-size: 14px;
} 

/* TV-Series */

.TV-Series{
    background-image: url("../image/tv-series-bg.jpg");
    background-size: cover;
    background-position: center center;
    padding-top: 5rem;
    overflow: hidden;
    padding-bottom: 2rem;
}


/* cta */
.cta{
    background-image: url("../image/cta-bg.jpg");
    background-size: cover;
    background-position: center center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.cta h2{
    color: hsl(207, 19%, 11%);
    font-size: 1.8rem;
    font-weight: 600;
}
.cta p{
    color: hsl(207, 19%, 11%);
    font-size: .9rem;
    font-weight: 500;
}

.cta-btn{
    position: relative;
}
.cta-btn2{
    position: absolute;
    top: 3px;
    right: 12%;
    padding: .7rem 2rem;
    width: 30%;
    border: 0;
}
.cta-btn1{
    border: 0;
    padding: .9rem 2rem;
    width: 90%;
    
}

/* top-footer */
.main-footer-item{
    display: flex;
    justify-content: space-between;

}
.ol-footer{
    display: flex;
}

.top-footer{
    background-image: url("../image/footer-bg.jpg");
    background-size: cover;
    background-position: center center;
    padding-top: 3rem;
    padding-bottom: 3.1rem;
}

.bot-footer{
    margin-top:2rem;
    border-top: 7px double #4444;
    padding-top: 2rem;
}

.footer-item ol li .t-item{
    color: hsl(0, 3%, 80%);
    font-size: 15px;
    font-weight: 500;
}
.footer-item ol li .b-item{
    color: hsl(0, 3%, 80%);
    font-size: 12px;
    font-weight: 500;
}

.footer-item ol li .t-item:hover,.footer-item ol li .b-item:hover ,.f-icon:hover{
    color: var(--citrine);
}

.f-icon{
    color: hsl(0, 3%, 80%);
    background: hsl(225deg 27.27% 8.63%);
    padding: 11px;
    border-radius: 50%;
    margin: 0 3px;
    font-size: 13px;
    cursor: pointer;
}

/* main-footer-b */
.main-footer-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background: hsl(204deg 17.86% 10.98%);
    padding: 1rem 0;
    padding-top: 1rem;
 
}
footer p{
    color: #aaaaaa;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 500;
}
/* media query */
@media (min-width:992px)and (max-width:1200px)/*mediam screen(sm)*/
{
    .cta-btn2{
         top: 0;
        padding: .1rem 2rem;
    }
}
@media (max-width:525px)/*small screen(sm)*/
{
    .cta-btn2{
 
        padding: .1rem 2rem;
    }
    .mainContainer2{
        height: 100%;
         padding-top: 35%;
     
     }
}
@media (min-width:768px)and (max-width:1200px)/*small screen(sm)*/
{
    .itemNav ul{
        display: none;
    }
    #menu{
        display: block;
        font-size: 1rem;
        color: #fff;

    }
    .captionBody h1{
        font-size: 2.5rem;
    }
    .headUP{
        text-align: center;
    }
}
/* small */

@media (max-width:866px){
    .itemNav ul{
        display: none;
    }
       #itemLast2{
            display: none;
       }
       #menu{
        display: block;

    }

    .captionBody h1{
        font-size: 2rem;
    }
    .headUP{
        text-align: center;
    }
    .btn-rate button{
        margin: 0 .2rem;
        padding: .5rem 1rem;
    } 
  
}
@media (min-width:500px)and (max-width:767px)/*small screen(sm)*/
{
   
    .main-footer-item{
        display: block;
        text-align: center;
    
    }
    .ol-footer{
        display: flex;
        justify-content: center;
    }
    .main-footer-b{ display: block;
        text-align: center;}
}
@media (min-width:500px)and (max-width:992px)/*small screen(sm)*/
{

    .mainContainer2{
        padding-top: 10px;
    }
    .free-img{
        width: 40%;
        text-align: center;
    }
    .free-cap{
        width: 100%;
        text-align: center;
    }
    .mainContainer2{
       height: 100%;
        padding-top: 30%;
    
    }
    .free-d-img{
        text-align: center;
    }


    .free-cat{
        display: flex;
        justify-content: center;
    }

    .free-guy-d{
        width: 100%;
        margin-bottom: 20px;
    }

    .text-center-end{
        text-align: center;
        width: 100%;
        margin:0 10%;
        margin-bottom: 10px;
    }
}

/* 1200 992 */

/* 768 ==> 500 */